DATABASE_URL="postgresql://azbuka_dvizheniya:azbuka_dvizheniya_dev_password@localhost:5432/azbuka_dvizheniya_dev?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
CRON_SECRET="replace-with-at-least-32-random-characters"
SEED_SUPER_ADMIN_LOGIN="owner"
SEED_SUPER_ADMIN_PASSWORD="ChangeMe-DEV-00!"
APP_BASE_URL="https://azbukadvizheniya.ru"
YOOKASSA_SHOP_ID="1429068"
YOOKASSA_SECRET_KEY=""
