DATABASE_URL="postgresql://my_school:my_school_dev_password@localhost:5432/my_school_dev?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
CRON_SECRET="replace-with-at-least-32-random-characters"
SEED_SUPER_ADMIN_LOGIN="owner"
SEED_SUPER_ADMIN_PASSWORD="ChangeMe-DEV-00!"
